@font-face {
  font-family: VAGRoundedStd;
  src: url(../fonts/Geometos.eot);
}
@media only screen and (min-width: 768px) and (orientation: portrait) {
  .popup-label {
    font-family: VAGRoundedStd;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: left;
    color: #0a296d;
    font-size: 40px !important;
  }
  .btn-text {
    font-family: VAGRoundedStd;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #f31555;
    font-size: 30px !important;
  }
  .No-proceed {
    font-family: VAGRoundedStd;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #fff;
    font-size: 30px !important;
  }
}
@media only screen and (min-width: 768px) and (orientation: Landscape) {
  .popup-label {
    font-family: VAGRoundedStd;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: left;
    color: #0a296d;
    font-size: 40px !important;
  }
  .btn-text {
    font-family: VAGRoundedStd;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #f31555;
    font-size: 30px !important;
  }
  .No-proceed {
    font-family: VAGRoundedStd;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #fff;
    font-size: 30px !important;
  }
  .varify-bg {
    margin-top: 120%;
    width: 85%;
    height: 8%;
    border-radius: 23px;
    background-color: #f31555;
    margin-top: 40% !important;
    height: 14% !important;
  }
  .verify-label {
    font-family: VAGRoundedStd;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    font-size: 24px !important;
  }
  .modal-dialog {
    position: relative;
    width: auto;
    top: -8%;
    margin: 104px;
  }
  .btn-confirm {
    width: 100%;
    height: 7%;
    border-radius: 23px;
    background-color: #ffffff;
    border: solid 1px #f31555;
    height: 10% !important;
  }
  .btn-cancel {
    width: 100%;
    height: 7%;
    margin-top: 10px;
    border-radius: 23px;
    background-color: #f31555;
    height: 12% !important;
  }
}
.varify-bg {
  margin-top: 120%;
  width: 85%;
  height: 8%;
  border-radius: 23px;
  background-color: #f31555;
}
.btnbg {
  margin: 0 auto;
  width: 50%;
}
.verify-label {
  font-family: VAGRoundedStd;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}
.popup-label {
  font-family: VAGRoundedStd;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: left;
  color: #0a296d;
}
.modal-dialog {
  position: relative;
  width: auto;
  top: 25%;
  margin: 30px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.modal-footer {
  padding: 15px !important;
  text-align: right;
  border-top: none;
}
.modal-header {
  padding: 15px !important;
  border-bottom: none;
}
.btn-confirm {
  width: 100%;
  height: 7%;
  border-radius: 23px;
  background-color: #ffffff;
  border: solid 1px #f31555;
}
.popup-btnbg {
  margin: 0 auto;
  width: 100%;
}
.btn-text {
  font-family: VAGRoundedStd;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #f31555;
}
.btn-cancel {
  width: 100%;
  height: 7%;
  margin-top: 10px;
  border-radius: 23px;
  background-color: #f31555;
}
.No-proceed {
  font-family: VAGRoundedStd;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #fff;
}
